.wrapper {
    background-color: #E9D5DA;
    display: grid;
    /* place-items: center; */
    justify-items: center;
    align-items: center;
    min-height: 100vh;
}

.formulario{
    display: grid;
    justify-items: center;
    /* justify-self: center; */
    /* text-align: center; */
    background-color: #827397;
    width: 330px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}


.logindata {
    padding: 10px;
    margin-bottom: 5px;
}

.boton {
    background-color: #E9D5DA;
    border: none;
    height: 40px;
    width: 80px;
    margin-top: 5px;
    border-radius: 10px;
}

.passcontenedor {
    /* width: 40px; */
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/swFqSxKYa5M.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 30px;
    /* width: 100px; */
    height: 40px;
    top: -10px;
}

.ojito {
    position: relative;
    top: -30px;
    right: -140px;
}

.user, .password {
    /* display: block; */
    /* height: 30px; */
    margin-top: 5px;
    padding: 10px;
    width: 70%;

}